:root
    --Ubuntu: 'Ubuntu', sans-serif
    --Montserrat: 'Montserrat', sans-serif
    --Quicksand: 'Quicksand', sans-serif
    --Hover-Color: #3b89ff

html, body
    background-color: black
    overflow-x: hidden
    margin: 0

#WebGL_Renderer
    height: 100vh
    width: 100vw
    // Currently new as of 12/2022
    width: 100dvw
    height: 100dvh
    // ---
    pointer-events: none

#Top-Window
    margin: auto
    margin-left: 25%
    pointer-events: auto
    border: 2px solid white
    border-radius: 30px
    height: 70%
    width: 50%
    backdrop-filter: blur(10px)
    transform: translateY(25%)
    filter: opacity(0%)
    position: absolute

.Top-Bar-Window
    display: flex
    flex-direction: row-reverse
    height: 5%
    width: 95%
    margin: auto
    transform: translateY(15%)
    h1
        font-family: var(--Ubuntu)
        color: white
        align-self: center
        margin: auto
    button
        font-family: var(--Montserrat)
        font-size: 30px
        color: white
        align-self: center
        background-color: transparent
        border: 0
        cursor: pointer
        transition: color .3s
    button:hover
        color: var(--Hover-Color)
        transition: color .3s

.MiddlePage
    width: 100vw
    width: 100dvw
    height: 100vh
    height: 100dvh
    border: 2px solid green