$Top-Spacing: 100px
$Nav-Spacing: 25px

h1, li
    color: white

.Top-Bar
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    backdrop-filter: blur(10px)
    border-bottom: 1px solid white
    z-index: 5
    position: absolute
    h1
        font-family: var(--Ubuntu)
        font-weight: bold
        letter-spacing: 1px
        transition: color .3s
        transform: translateX($Top-Spacing)
    li
        font-family: var(--Montserrat)
        font-size: 20px
        font-weight: bold
        color: white
        transition: color .3s, font-size .3s
.Top-Bar h1:hover
    color: var(--Hover-Color)

.Nav-Links
    list-style: none
    padding: 0 $Top-Spacing
    li
        display: inline-block
        padding: 0 $Nav-Spacing
.Nav-Links li:hover
    color: var(--Hover-Color)
    font-size: 22px